$humi-teal: #167d8a !default;
$humi-yellow: #f88e00 !default;
$humi-hot-orange: #ed521d;
$humi-navy: #1281a5 !default;
$humi-green: #169f5d !default;
$humi-purple: #58beb9 !default;
$humi-turquoise: #58beb9 !default;

$body-background-color: $white !default;
$sidebar-color: $grey-lt-000 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($humi-teal, 3%) !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$link-color: $humi-hot-orange;
$btn-primary-color: $humi-teal !default;
$base-button-color: #f7f7f7 !default;
