//
// Colors
//

$humi-light-grey: #fafafa;
$humi-teal: #167d8a;
$humi-yellow: #f88e00;
$humi-hot-orange: #ed521d;
$humi-navy: #1281a5;
$humi-green: #169f5d;
$humi-purple: #58beb9;
$humi-turquoise: #58beb9;

$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($humi-teal, 3%);

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $humi-hot-orange;
$btn-primary-color: $humi-teal;
$base-button-color: #f7f7f7;
